<!DOCTYPE html>
<!--
http://twig.sensiolabs.org/doc/templates.html
General layout called by index.html. 
ALL OTHER TEMPLATES WILL BE INCLUDED THERE BUY CONTROLLERS : 

block pour override
-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>STICKWARZ</title>

        <link rel="stylesheet" 
              href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
              crossorigin="anonymous">

        <!--<link href="./vendor/css/bootstrap.min.css"/>
        <link href="./vendor/css/bootstrap-theme.min.css"/>
        <link href="./vendor/css/style-default-display.css"/>
        <link href="./vendor/css/style.css"/>
        <link href="./vendor/css/style-user-display.css"/>-->

        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="./vendor/css/main.css" />
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

        
        <!--<script type="text/javascript" src="./vendor/js/jquery-3.1.0.min.js"></script>-->

        {% block head %}
        {% endblock %}
    </head>
    <body>
        <section id="top" class="one dark cover">
            {% include 'header.html.twig' %}
        </section>
        <nav>
            {%include 'navbar.html.twig'%}
        </nav>
        <div id="main">
            {%include 'gencontent.html.twig'%}
        </div>
        <footer>
            {%include 'footerView.html'%}
        </footer>
        
        
        <script src="./vendor/js/jquery.min.js"></script>
			<script src="./vendor/js/jquery.scrolly.min.js"></script>
			<script src="./vendor/js/jquery.scrollzer.min.js"></script>
			<script src="./vendor/js/skel.min.js"></script>
			<script src="./vendor/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
        <!--<script src="https://code.jquery.com/jquery-2.2.4.js" 
                integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" 
        crossorigin="anonymous"></script>-->
        <script type="text/javascript" src="./vendor/js/bootstrap.js"></script>
    </body>
</html>
