{# empty Twig template #}
<nav class="navbar navbar-default">
  <div class="container-fluid">
   <ul class="nav navbar-nav" id="navigation">
             <li><a href="{{ path('home') }}">Accueil</a></li>
             <li><a href="{{ path('content_battle') }}">Lancer le jeu</a></li>
             <li><a href="{{ path('content_script') }}">Scripter</a></li>
             <li><a href="{{ path('content_shop') }}">Shop</a></li>
    </ul>
  </div>
</nav>